.bg{
    background-color: #EDF3FF !important;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  
  
  background-color: #EDF3FF !important;
}

.font{
  font-family: monospace;
}

.fs-25{
  font-size: 20px !important;
}
.fs-35{
  font-size: 35px !important;
}

.fs-16{
  font-size: 19px;
}

.nav{
  display: block;
}

.greyclr{
  color: #CDCDCD;
  font-size: 14px;
}

.greyclr:hover{
  color: #CDCDCD;
  font-size: 14px;
}

.dashbox{
  background-color: #ede8e8;
  border-radius: 10px;
}

.nav ul li a{
  line-height: 1.75;
display: inline-block;
}

.nav ul li a:hover{
  background-color: #F5F6FA;
}
.nav ul li a:hover span{
  /* font-size: 18px; */
  font-weight: 900 !important;
}
.nav ul li a span {
  font-size: 17px;
}

.active {
  font-weight: 900 !important;
}

.dashclr{
  color: #1c84ee;
}

.resclr{
  color: crimson;
}

.addoffclr{
  color: chocolate;
}

.offlistclr{
  color: blueviolet;
}

.btnclr{
    background-color: #e9ecef;
    color: #222;
    border: 2px solid #e9ecef;
    border-radius: 10px;
    padding:10px 20px;
}

.nav  ul {
    padding-left: 0rem;
}
.nav  ul li {
    display: block;
}

.adminborder{
    /* border: 2px solid black; */
    background-color: #fff;
    
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.08);
}

.brdr{
    border: 2px solid #222 !important;
}

.fs{
    font-size: 14px !important;
}

.display{
display: none;}

.selectbtn {
    border: none; background-color: white; color: blue;
}

.box{
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.08);
}

.b-shadow{
  box-shadow: 5px 5px 10px 1px #eee !important;

}

.b-radius{
  border-radius: 10px;
}

.offerbox{
  border-radius: 13px !important;
}
#searchitems{
  border-radius: 13px !important;
  background-color: #eee;
  display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.txtclr{
    color: #74788d;
}

.txtarea textarea.form-control {
  min-height: calc(7.5em + 0.75rem + 2px);
  
  border-radius: 25px;
}

.breadcrumb {
    background-color: #fff;
}

.b-bottom{
    border-bottom: 2px solid #74788d;
}

.btnclr{
    background-color: #1c84ee;
}

.form-control {
    height: 40px !important;
}

/* .img_radius{
    border-radius: 100%;
} */

.height{
    height: 70px !important;
}

.bgdesc{
    background-color: gainsboro;
}

.pointer{
    cursor: pointer;
}

.form-question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 3rem;
    min-height: 3rem;
  }
  .form-question__title {
    color: #342357;
    font-size: 1.5rem;
    padding: 1rem;
  }
  .input-container {
    border-bottom: solid 2px #333333;
  }
  .input-container input {
    border: none;
    box-sizing: border-box;
    outline: 0;
    padding: .75rem;
    width: 100%;
  }

  .backzindex ul li{
    display: inline-block;
    background-color: aqua;
  }

  .backzindex ul{
    padding-left: 0px;
  }

  .padding{
    padding: 1rem !important;
  }

  .zindex{
    z-index: 2 !important;
  }

  /* .Select-menu-outer{
    background-color: #fff !important;
    color: #222;
    z-index: 5;
  } */
  .Select-menu-outer{
    background-color: #ffffff !important;
    color: #222;
    opacity: 1 !important;
  }
  .backzindex{
    z-index: -1;
  }
  .op{
    opacity: 1 !important;
  }
  

  #searchitems{
    width: 100% !important;
  }
  .brdr{
    border: 1px solid #222;
  }

  .forms .form-control{
    border: 0px !important;
  }

  .boxitem{
    box-shadow: 0 0 4px #999;
    border-radius: 30px;
  }

  .zindex{
    z-index: 999;
  }

  .itemlist li{
    display: inline-block;
  }

  .itemm ul{
    padding-left: 0px;
  }

  .offerlist ul{
    padding: 0 !important;
  }

  /* .display{
    display: block;
  } */

  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid #E2E2E3 !important;
}

/* .navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: url(../../download.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
} */

.wdth{
  width: 75%;
}

.b-bottom1{
  border-bottom: 2px solid #eee;
}

.ulpadding{
  padding: 10px 0px 10px 7px;
}

.pl-8{
  padding-left: 8px;
}

.clryllow{
  color: #e3b04b ;
}

/* .exportable-div {
  width: 300px;
  height: 200px;
  background-color: #f0f0f0;
  border: 1px solid #999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
} */

.form-question__title {
  font-size: 20px;
}

.fs-20{
  font-size: 20px;
}

.bx{
   background-color: #e3b04b ;
   border-radius: 50%;
   text-align: center;
   text-transform: uppercase;
   width: 5vw;
   height: 5vw;
   display: flex;
   align-items: center;
   justify-content: center;
}

@media screen and (min-width:0px) and (max-width:576px){
  .btnclr{
    border-radius: 10px;
    padding:7px 10px;
}

.wdth{
  width: 100%;
}

}

@media screen and (min-width:577px) and (max-width:768px){

.wdth{
  width: 75%;
}

}
@media screen and (min-width:767px) and (max-width:992px){

.wdth{
  width: 100%;
}

}

.stdropdown-container {
  text-align: left; 
  border: 0px solid #ccc !important;
  position: relative;
  border-radius: 0px !important;
}

.stsearch-box {
  padding: 0px !important;
  background-color: transparent;
}

.stsearch-box input {
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-right: 0px !important;
  border-radius: 5px 0px 0px 5px !important;
}

.stdropdown-container .stsearch-box .stdropdown-tools{
  border: 1px solid #ccc !important;
  padding: 7px;
  border-left: 0px !important;
  border-radius: 0px 5px 5px 0px;
}

.breadcrumbclr .breadcrumb{
  background-color: #EDF3FF !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.customerdetail ul{
  padding-left: 0px;
  margin-bottom: 2px;
}

.customerdetail ul li{
  display: inline-block;
  padding-right: 15px;
}

.detailbg{
  background-color: #f0f3f4;
}
.page-not-break {
  page-break-before: auto;
  page-break-after: auto;
  page-break-inside: avoid;
  reak-before: auto;
  break-after: auto;
  break-inside: avoid;
}
.invoice-price .invoice-price-right {
  width: 30%;
  background: #f0f3f4;
  color: black;
  border: 2px solid #f0f3f4;
  font-size: 28px;
  text-align: right;
  vertical-align: bottom;
  font-weight: 300;
  position: relative;
  right: 38px;
  padding: 28px 12px 16px;
}
.invoice-price .invoice-price-right span {
  display: block;
  font-weight: 400;
}
.invoice-price .invoice-price-right small {
  display: block;
  opacity: .7;
  position: absolute;
  top: 10px;
  left: 12px;
  font-size: 18px;
}

@media only screen and (max-width: 575.98px) {
      .invoice-price .invoice-price-right {
          right: 18px;
      }

      .invoice-price-right{
        width: 290px !important;
        display: block !important;
      }
  }
.invoice-price {
  /* background: #f0f3f4; */
  display: table;
  width: 100%;
}
.invoice-price .invoice-price-left, .invoice-price .invoice-price-right {
  display: table-cell;
  font-size: 20px;
  font-weight: 600;
  width: 70%;
  position: relative;
  vertical-align: middle;
}
.print {
  margin-top: 10px;
    max-width: 28cm;
    zoom: 0.8;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.2);
    margin-right: auto;
    margin-left: auto;
    background: white !important;
}
.invoice-header {
  background: #f0f3f4;
  padding: 25px 50px;
}
.invoice-body {
  background: #fff;
  padding: 30px 50px;
}
.invoice-to {
  padding-right: 20px;
}
.invoice-date {
  /* text-align: right; */
  padding-left: 15px;
}
.invoice-table{
  padding: 20px 38px 10px;
}

.invoice-content {
  padding: 00px 38px 10px;
}

.greenclr{
  color: #009688;
}

.greenclr:hover{
  color: #009688;
}

.issue {
  color: #856404;
  border: 1px solid #dcc374 !important;
  background-color: #fff3cd;
  border-radius: 5px;
  font-size: 10px;
}

.datetext {
  color: #484848;
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
}

.fs-12{
  font-size: 12px;
}

.clrtrxtstatus{
  color: #484848;
}

.due{  color: #155724;
  border:1px solid #6dbf81;
  background-color: #d4edda;
  font-size: 10px;
  border-radius: 5px;
}

.no-arrow::after {
  display: none;
}

.ellipse{
  border: 1px solid black;
  border-radius: 4px;
}

.alertwidth{
width: 6%;
}

.addpayment{
  border: 0px solid #fff;
  background-color: #fff;
}

.saved{
  color: #6dbf81;
}
.paid{
  color: #6dbf81;
}

.partiallypaid{
  color: #ffb74d;
}

.converbtn{
  background-color: #fff3cd;
  border-radius: 10px;
  color: #856404;
  border: 1px solid #dcc374 !important;
}